{
  "arrowParent": "always",
  "endOfLine": "lf",
  "trailingComma": "none",

  "tabWidth": 2,
  "printWith": 120,

  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "useTabs": false,

  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}